@using Entity
@model List<Product>
<section class="product__area pt-60 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__title-wrapper text-center mb-55">
                    <div class="section__title mb-10">
                        <h2>Yeni Ürünlerimiz</h2>
                    </div>
                    <div class="section__sub-title">
                        <p>Yeni ürünlerimizle müşterinin yanındayız!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
    @foreach (var item in Model)
            {
      <div class="col-xl-12">
                <div class="product__slider owl-carousel">
                    <div class="product__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                        <img src="~/assets/img/shop/product/@item.ImgPath" alt="product-img">
                                        <img class="product__thumb-2" src="~/assets/img/shop/product/@item.ImgPath" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="product-details.html">Wooden container Bowl</a></h4>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="product__load-btn text-center mt-25">
                    <a href="#" class="os-btn os-btn-3">Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>
