<section class="footer__area footer-bg">
    <div class="footer__top pt-100 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title mb-25">
                            <a href="/Home/Index"><img style="height:100px; width:150px;" src="~/assets/img/logo/logo.png" alt="logo"></a>
                        </div>
                        <div class="footer__widget-content">
                            <p>aluminum, plastic, tape types, sheet metal and galvanized profiles, silicone - mastic - foam....</p>
                            <div class="footer__contact">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">
                                            <span>Address:Çırpıcı Mah. Seyit Nizam Cad. No:62/A Zeytinburnu/İSTANBUL.</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-envelope-open-text"></i>
                                        </div>
                                        <div class="text">
                                            <span>Email: <a href="" class="_" data-cfemail="">info@atilimaluminyum.com.tr</a></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-phone-alt"></i>
                                        </div>
                                        <div class="text">
                                            <span>Phone Number:+90 [ 212 ] 679 17 74</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-phone-alt"></i>
                                        </div>
                                        <div class="text">
                                            <span>Fax Number:+90 [ 212 ] 546 88 83</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title">
                            <h5>Pages</h5>
                        </div>
                        <div class="footer__widget-content">
                            <div class="footer__links">
                                <ul>
                                    <li><a href="/Product/EnIndex">product</a></li>
                                    <li><a href="/OurServices/EnIndex">E-Catalog</a></li>
                                    <li><a href="/About/EnIndex">About</a></li>
                                    <li><a href="/Contact/EnIndex">Contact</a></li>
                                    <li><a href="/Home/EnIndex">Home</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title mb-25">
                            <h5>Services</h5>
                        </div>
                        <div class="footer__widget-content">
                            <div class="footer__links">
                                <ul>
                                    <li><a href="/Product/EnIndex">Alüminyum Profilci</a></li>
                                    <li><a href="/Product/EnIndex">Plastic Products</a></li>
                                    <li><a href="/Product/EnIndex">Galvanized & Sheet Profiles</a></li>
                                    <li><a href="/Product/EnIndex">Adhesives</a></li>
                                    <li><a href="/Product/EnIndex">clamps</a></li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7">
                    <div class="footer__copyright">
                        <p>Copyright © <a href="index.html">Outstock</a> all rights reserved. Powered by <a href="/Home/Index">Ajanscode</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="footer__social f-right">
                        <ul>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

