<section class="footer__area footer-bg">
    <div class="footer__top pt-100 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title mb-25">
                            <a href="/Home/Index"><img style="height:100px; width:150px;" src="~/assets/img/logo/logo.png" alt="logo"></a>
                        </div>
                        <div class="footer__widget-content">
                            <p>alüminyum, plastik, bant çeşitleri, sac ve galvanizli profiller, silikon - mastik - köpük....</p>
                            <div class="footer__contact">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">
                                            <span>Adres: Çırpıcı Mah. Seyit Nizam Cad. No:62/A Zeytinburnu/İSTANBUL.</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-envelope-open-text"></i>
                                        </div>
                                        <div class="text">
                                            <span>Email: <a href="" class="__cf_email__" data-cfemail=""> info@atilimaluminyum.com.tr</a></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-phone-alt"></i>
                                        </div>
                                        <div class="text">
                                            <span>Telefon numarası: +90 [ 212 ] 679 17 74</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-phone-alt"></i>
                                        </div>
                                        <div class="text">
                                            <span>Fax numarası: +90 [ 212 ] 546 88 83</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title">
                            <h5>Sayfalar</h5>
                        </div>
                        <div class="footer__widget-content">
                            <div class="footer__links">
                                <ul>
                                    <li><a href="/Product/Index">Ürünlerimiz</a></li>
                                    <li><a href="/Catalog/Index">E-Katalog</a></li>
                                    <li><a href="/About/Index">Hakkımızda</a></li>
                                    <li><a href="/Contact/Index">iletişim</a></li>
                                    <li><a href="/Home/Index">Anasayfa</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title mb-25">
                            <h5>Hizmetlerimiz</h5>
                        </div>
                        <div class="footer__widget-content">
                            <div class="footer__links">
                                <ul>
                                    <li><a href="/Product/Index">Alüminyum Profiller</a></li>
                                    <li><a href="/Product/Index">Plastik Ürünler</a></li>
                                    <li><a href="/Product/Index">Galvaniz & Saç profiller</a></li>
                                    <li><a href="/Product/Index">Yapıştırıcılar</a></li>
                                    <li><a href="/Product/Index">Kelepçeler</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7">
                    <div class="footer__copyright">
                        <p>kopyalanamaz © <a href="/Home/Index">Tüm</a> Haklar Saklıdır<a href="/Home/Index">Ajanscode</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="footer__social f-right">
                        <ul>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

