<section class="blog__area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__title-wrapper text-center mb-55">
                    <div class="section__title mb-10">
                        <h2>Atılım Alüminyum</h2>
                    </div>
                    <div class="section__sub-title">
                        <p>As Atılım Aluminum Family, We Are Always With Our Customers!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="blog__slider owl-carousel">
                    <div class="blog__item mb-30">
                        <div class="blog__thumb fix">
                            <a href="/Product/EnIndex" class="w-img"><img src="~/assets/img/blog/aluminyum.jpg" alt="blog"></a>
                        </div>
                        <div class="blog__content">
                            <h4><a href="/Product/EnIndex">Aluminum Profiler.</a></h4>
                            <div class="blog__meta">
                                <span>By <a href="#">Atılım Alüminyum</a></span>

                            </div>
                            <p>We stand by our customers with our Aluminum Profiles Products.</p>
                            <a href="/Product/EnIndex" class="os-btn">Go</a>
                        </div>
                    </div>
                    <div class="blog__item mb-30">
                        <div class="blog__thumb fix">
                            <a href="/Product/EnIndex" class="w-img"><img src="~/assets/img/blog/hirdavat.jpg" alt="blog"></a>
                        </div>
                        <div class="blog__content">
                            <h4><a href="/Product/EnIndex">Hardware Group</a></h4>
                            <div class="blog__meta">
                                <span>By <a href="/Product/EnIndex">Atılım Alüminyum</a></span>

                            </div>
                            <p>We are always with the customer with our hardware accessories and products.</p>
                            <a href="/Product/EnIndex" class="os-btn">Go</a>
                        </div>
                    </div>
                    <div class="blog__item mb-30">
                        <div class="blog__thumb fix">
                            <a href="/Product/EnIndex" class="w-img"><img src="~/assets/img/blog/mobilya.jpg" alt="blog"></a>
                        </div>
                        <div class="blog__content">
                            <h4><a href="/Product/EnIndex">Furniture Profiler</a></h4>
                            <div class="blog__meta">
                                <span>By <a href="/Product/EnIndex">Atılım Alüminyum</a></span>

                            </div>
                            <p>We stand by the customer with our Furniture Profiler Products..</p>
                            <a href="/Product/EnIndex" class="os-btn">Go</a>
                        </div>
                    </div>
                    <div class="blog__item mb-30">
                        <div class="blog__thumb fix">
                            <a href="/Product/EnIndex" class="w-img"><img src="~/assets/img/blog/perde.jpg" alt="blog"></a>
                        </div>
                        <div class="blog__content">
                            <h4><a href="/Product/EnIndex">Curtain Rails</a></h4>
                            <div class="blog__meta">
                                <span>By <a href="/Product/EnIndex">Atılım Alüminyum</a></span>

                            </div>
                            <p>We are always with the customer with our Curtain Rails Products.</p>
                            <a href="/Product/EnIndex" class="os-btn">Go</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>