
@{
    ViewData["Title"] = "EnIndex";
    Layout = "~/Views/Shared/EnLayout.cshtml";
}

<section class="well3" style="    padding-top: 86px;">
    <div class="container">
        <div class="container ">
            <div class="row box-with-hover m-bot-50 wow zoomIn animated" style="visibility: visible; animation-name: zoomIn;">
                <div class="grid_3 box1 m-bot-30 col-md-6">
                    <div class="view view-first hovered"><a href="~/assets/img/blog/profilk.pdf" target="_blank"><figure class=""><img src="~/assets/img/blog/profilk.jpg" alt="Profil Kataloğu"></figure><div class="mask"><div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div></div></a></div>
                    <div class="box1_cnt"><a class="a-invert" href="profilk.pdf" target="_blank"><span class="fa fa-arrow-circle-right"></span> Profile Catalog</a></div>
                </div>
                <div></div>
                <div class="grid_3 box1 m-bot-30 col-md-6">
                    <div class="view view-first hovered"><a href="~/assets/img/blog/urunk.pdf" target="_blank"><figure class=""><img style="" src="~/assets/img/blog/urunk.jpg" alt="Ürün Kataloğu"></figure><div class="mask"><div class="zoom info"><span aria-hidden="true" class="icon_search"></span></div></div></a></div>
                    <div class="box1_cnt"><a class="a-invert" href="urunk.pdf" target="_blank"><span class="fa fa-arrow-circle-right"></span> Product Catalogue</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

