<section class="client__area pt-15 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="client__slider owl-carousel text-center">
                    <div class="client__thumb">
                        <a href="#"><img src="~/assets/img/client/client-1.jpg" alt="client"></a>
                    </div>
                    <div class="client__thumb">
                        <a href="#"><img src="~/assets/img/client/client-2.jpg" alt="client"></a>
                    </div>
                    <div class="client__thumb">
                        <a href="#"><img src="~/assets/img/client/client-3.jpg" alt="client"></a>
                    </div>
                    <div class="client__thumb">
                        <a href="#"><img src="~/assets/img/client/client-4.jpg" alt="client"></a>
                    </div>
                    <div class="client__thumb">
                        <a href="#"><img src="~/assets/img/client/client-5.jpg" alt="client"></a>
                    </div>
                    <div class="client__thumb">
                        <a href="#"><img src="~/assets/img/client/client-4.jpg" alt="client"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>