<section class="blog__area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__title-wrapper text-center mb-55">
                    <div class="section__title mb-10">
                        <h2>Atılım Alüminyum</h2>
                    </div>
                    <div class="section__sub-title">
                        <p>Atılım Alüminyum Ailesi Olarak Müşterimizin Her Zaman Yanındayız!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="blog__slider owl-carousel">
                    <div class="blog__item mb-30">
                        <div class="blog__thumb fix">
                            <a href="/Product/Index" class="w-img"><img src="~/assets/img/blog/aluminyum.jpg" alt="blog"></a>
                        </div>
                        <div class="blog__content">
                            <h4><a href="/Product/Index">Aluminyum Profiler.</a></h4>
                            <div class="blog__meta">
                                <span>By <a href="#">Atılım Alüminyum</a></span>
                               
                            </div>
                            <p>Alüminyum Profiller Ürünlerimizle müşterinin yanındayız.</p>
                            <a href="/Product/Index" class="os-btn">Devam</a>
                        </div>
                    </div>
                    <div class="blog__item mb-30">
                        <div class="blog__thumb fix">
                            <a href="/Product/Index" class="w-img"><img src="~/assets/img/blog/hirdavat.jpg" alt="blog"></a>
                        </div>
                        <div class="blog__content">
                            <h4><a href="/Product/Index">Hırdavat Grubu</a></h4>
                            <div class="blog__meta">
                                <span>By <a href="#">Atılım Alüminyum</a></span>
                               
                            </div>
                            <p>Hırdavat Yan ve Ürünlerimizle Her Zaman müşterinin yanındayız.</p>
                            <a href="/Product/Index" class="os-btn">Devam</a>
                        </div>
                    </div>
                    <div class="blog__item mb-30">
                        <div class="blog__thumb fix">
                            <a href="/Product/Index" class="w-img"><img src="~/assets/img/blog/mobilya.jpg" alt="blog"></a>
                        </div>
                        <div class="blog__content">
                            <h4><a href="/Product/Index">Mobilya Profileri</a></h4>
                            <div class="blog__meta">
                                <span>By <a href="#">Atılım Alüminyum</a></span>
                                
                            </div>
                            <p>Mobilya Profileri Ürünlerimizle müşterinin yanındayız..</p>
                            <a href="/Product/Index" class="os-btn">Devam</a>
                        </div>
                    </div>
                    <div class="blog__item mb-30">
                        <div class="blog__thumb fix">
                            <a href="/Product/Index" class="w-img"><img src="~/assets/img/blog/perde.jpg" alt="blog"></a>
                        </div>
                        <div class="blog__content">
                            <h4><a href="/Product/Index">Perde Rayları</a></h4>
                            <div class="blog__meta">
                                <span>By <a href="#">Atılım Alüminyum</a></span>
                               
                            </div>
                            <p>Perde Rayları Ürünlerimizle müşterinin Her Zaman  yanındayız.</p>
                            <a href="/Product/Index" class="os-btn">Devam</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>