 <!-- slider area start -->
<section class="slider__area p-relative">
    <div class="slider-active">
        <div class="single-slider slider__height d-flex align-items-center" data-background="../assets/img/blog/slider1.jpg">
            @* <div class="container">
            <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-12">
            <div class="slider__content">
            <h2 data-animation="fadeInUp" data-delay=".2s">Handmade <br> Hand carved Coffee</h2>
            <p data-animation="fadeInUp" data-delay=".4s">As rich and unique as the coffee beans it is intended for, this little scoop will make your morning ritual a special occasion every day. </p>
            <a href="shop.html" class="os-btn os-btn-2" data-animation="fadeInUp" data-delay=".6s">Discover now</a>
            </div>
            </div>
            </div>
            </div>*@
        </div>
        <div class="single-slider slider__height d-flex align-items-center" data-background="../assets/img/blog/slider2.jpg">
            @*  <div class="container">
            <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
            <div class="slider__content">
            <h2 data-animation="fadeInUp" data-delay=".2s">Think Different &<br> Do it otherwise</h2>
            <p data-animation="fadeInUp" data-delay=".4s">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
            <a href="shop.html" class="os-btn os-btn-2" data-animation="fadeInUp" data-delay=".6s">Discover now</a>
            </div>
            </div>
            </div>
            </div>*@
        </div>
        <div class="single-slider slider__height d-flex align-items-center" data-background="../assets/img/blog/slider1.jpg">
            @*  <div class="container">
            <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
            <div class="slider__content">
            <h2 data-animation="fadeInUp" data-delay=".2s">High Beam<br> by Tom Chung</h2>
            <p data-animation="fadeInUp" data-delay=".4s">High Beam is an adjustable desk or shelf light that offers a wide variety of lighting possibilities.</p>
            <a href="shop.html" class="os-btn os-btn-2" data-animation="fadeInUp" data-delay=".6s">Discover now</a>
            </div>
            </div>
            </div>
            </div>*@
        </div>
    </div>
</section>
<!-- slider area end -->
<!-- banner area start -->
@*<div class="banner__area">
    <div class="container">
        <div class="banner__inner p-relative mt--95">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="banner__item mb-30 p-relative">
                        <div class="banner__thumb fix">
                            <a href="product-details.html" class="w-img"><img src="~/assets/img/shop/banner/banner-sm-1.jpg" alt="banner"></a>
                        </div>
                        <div class="banner__content p-absolute transition-3">
                            <h5><a href="product-details.html">Sunflower Clock <br> Quartz Hands</a></h5>
                            <a href="product-details.html" class="link-btn">Discover now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="banner__item mb-30 p-relative">
                        <div class="banner__thumb fix">
                            <a href="product-details.html" class="w-img"><img src="~/assets/img/shop/banner/banner-sm-2.jpg" alt="banner"></a>
                        </div>
                        <div class="banner__content p-absolute transition-3">
                            <h5><a href="product-details.html">Chair Kimi No Isu <br> Project</a></h5>
                            <a href="product-details.html" class="link-btn">Discover now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="banner__item mb-30 p-relative">
                        <div class="banner__thumb fix">
                            <a href="product-details.html" class="w-img"><img src="~/assets/img/shop/banner/banner-sm-3.jpg" alt="banner"></a>
                        </div>
                        <div class="banner__content p-absolute transition-3">
                            <h5><a href="product-details.html">Sweeper and Dustpan <br> by Jan Kochanski </a></h5>
                            <a href="product-details.html" class="link-btn">Discover now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

