@using Entity
@model List<Product>
<section class="product__area pt-60 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__title-wrapper text-center mb-55">
                    <div class="section__title mb-10">
                        <h2>New Products </h2>
                    </div>
                    <div class="section__sub-title">
                        <p>We stand by the customer with our new products!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-12">
                <div class="product__slider owl-carousel">
                    <div class="product__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="/Product/EnIndex" class="w-img">
                                    <img src="~/assets/img/shop/product/88.jpg" alt="product-img">
                                    <img class="product__thumb-2" src="~/assets/img/shop/product/1.jpg" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="/Product/EnIndex" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="/Product/EnIndex" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="/Product/EnIndex" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="/Product/EnIndex">New Product</a></h4>

                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="/Product/EnIndex">Go Product</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="/Product/EnIndex" class="w-img">
                                    <img src="~/assets/img/shop/product/248.jpg " alt="product-img">
                                    <img class="product__thumb-2" src="~/assets/img/shop/product/101.jpg" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>
                                </div>
                               
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="/Product/Index">New Product</a></h4>

                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="/Product/EnIndex">Go Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="/Product/EnIndex" class="w-img">
                                    <img src="~/assets/img/shop/product/90.jpg" alt="product-img">
                                    <img class="product__thumb-2" src="~/assets/img/shop/product/11.jpg" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                              
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="/Product/EnIndex">New Product</a></h4>

                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="/Product/EnIndex">Go product</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="/Product/EnIndex" class="w-img">
                                    <img src="~/assets/img/shop/product/99.jpg" alt="product-img">
                                    <img class="product__thumb-2" src="~/assets/img/shop/product/102.jpg" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="/Product/EnIndex">New Product</a></h4>

                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="/Product/EnIndex">Go Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="/Product/EnIndex" class="w-img">
                                    <img src="~/assets/img/shop/product/69.jpg" alt="product-img">
                                    <img class="product__thumb-2" src="~/assets/img/shop/product/245.jpg" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="/Product/EnIndex">New Product</a></h4>

                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="/Product/EnIndex">Go Product</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="/Product/EnIndex" class="w-img">
                                    <img src="~/assets/img/shop/product/37.jpg" alt="product-img">
                                    <img class="product__thumb-2" src="~/assets/img/shop/product/30.jpg" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>
                                </div>
                              
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="/Product/EnIndex">New Product</a></h4>

                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="/Product/EnIndex">Go Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="/Product/EnIndex" class="w-img">
                                    <img src="~/assets/img/shop/product/26.jpg" alt="product-img">
                                    <img class="product__thumb-2" src="~/assets/img/shop/product/238.jpg" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>

                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="/Product/EnIndex">New Product</a></h4>

                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="/Product/EnIndex">Go Product</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="/Product/EnIndex" class="w-img">
                                    <img src="~/assets/img/shop/product/92.jpg" alt="product-img">
                                    <img class="product__thumb-2" src="~/assets/img/shop/product/6.jpg" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="/Product/EnIndex">New Product</a></h4>

                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="/Product/EnIndex">Go Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="/Product/Index" class="w-img">
                                    <img src="~/assets/img/shop/product/42.jpg" alt="product-img">
                                    <img class="product__thumb-2" src="~/assets/img/shop/product/71.jpg" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                                <div class="product__sale">
                                    <span class="new">New</span>
                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="/Product/EnIndex">New Product </a></h4>

                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="/Product/EnIndex">Go Product</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="/Product/EnIndex" class="w-img">
                                    <img src="~/assets/img/shop/product/4.jpg" alt="product-img">
                                    <img class="product__thumb-2" src="~/assets/img/shop/product/73.jpg" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>
                                </div>
                                <div class="product__sale">
                                    <span class="new">New</span>
                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="/Product/EnIndex">New Product </a></h4>

                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="/Product/EnIndex">Go Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="product__load-btn text-center mt-25">
                    <a href="/Product/EnIndex" class="os-btn os-btn-3">More</a>
                </div>
            </div>
        </div>
    </div>
</section>